body{
    background-color: rgb(184, 68, 68);
}
#nav{
    background-color: #ffff00!important;
    margin-bottom: 2em;
}
i{
    margin-right: 5px;
}
#img2{
    content:url('../car.jpg');
    opacity: 90%;
  }
#img2:hover {
    
    transform: scale(1.2);     
  }
@media (max-width:992px)
{


.nav-link {
      text-align: center;
    }
}
 
@media (min-width:992px)
{
  
    .mr-auto {
        position: absolute;
        right: 0;
    }
}
